#!/system/bin/sh
export PATH=/sbin:/data/local/bin:/vendor/bin:/system/sbin:/system/bin:/system/xbin

# check size of /cache for dexfiles (if > 17):
df -h /cache | tail -n 1 | awk '
{
  odex=system("test -f /system/framework/core.odex");
  m=match($0,/([0-9]+\.[0-9])/);
  if(odex == 0){
    if(substr($0,RSTART,RLENGTH-2) - 17 >0){
      system("setprop dalvik.vm.dexopt-data-only 0");
    }else{
      system("setprop dalvik.vm.dexopt-data-only 1");
    }
  }else{
    if(substr($0,RSTART,RLENGTH-2) - 27 >28){
      system("setprop dalvik.vm.dexopt-data-only 0");
    }else{
      system("setprop dalvik.vm.dexopt-data-only 1");
    }
  }
}'

#update cpufreq perms

chown root:system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
chown root:system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq

#runparts:
/system/bin/logwrapper /system/xbin/run-parts /system/etc/init.d

#cleanup cache of extra *.apk downloads
rm -rf /cache/downloadfile*.apk
